body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #020c45;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-icon img {
  width: 30px;
  cursor: pointer;
}

.logo-container img {
  width: 100px;
}

.main-content {
  padding: 20px;
}

footer {
  background-color: #020c45;
  color: white;
  text-align: center;
  padding: 10px 20px;
}
